body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url('https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
  font-family: 'Nova Script', cursive;
}
img{
  height: 200px;
}

.hidden {
  visibility: hidden;
}

.spellForm {

  display: flex;
  flex-direction: column;
}

.answers {
  text-align: center;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.mainTitle {
  color: black;
  font-family: 'Nova Script', cursive;
  font-size: 60px;
}

.formTitle {

  color: black;
  font-family: 'Nova Script', cursive;
  font-size: 25px;
  margin-left: 10%;
  margin-bottom: 5%;
 
}

.entryTitle {
  color: maroon;
  font-family: 'Nova Script', cursive;
  font-size: 50px;
  text-align: center;

}

h4 {
  font-family: 'Nova Script', cursive;
  text-align: center;
  font-weight: bolder;
  text-decoration: overline;
  text-decoration: underline;
}



.well {
  background-color: rgb(210, 145, 76);
  border-radius: 5%;
}

#spellType {
  color: crimson;
  font-size: 20px;
}

.nameOfSpell {
  font-size: 20px;
}

.nameOfIngredients {
  font-size: 20px;
  height: 100px;
}

.steps {
  font-size: 15px;
  height: 100px;
}

.theOnes {
  margin-left: 20%;
}